/* Global fonts and text alignment*/
@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p,
th,
td,
li {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Dark theme */
body.dark {
  background-color: rgb(15, 13, 13);
  color: steelblue;
}

/* Light theme */
body {
  background-color: blanchedalmond;
  color: #000;
}

/* Header */
header h1 {
  overflow: auto;
  font-family: 'Bebas Neue';
  background-image: url("/resources/images/h1bg.jpg");
  background-position: center;
  font-size: 10vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 230, 230);
  height: 587;
  border: 0.2rem solid #fff;
  padding: 10px;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #320544,
              0 0 0.8rem #320544,
              0 0 2.8rem #320544,
              inset 0 0 1.3rem #320544;
  margin-bottom: 10px;
  margin-top: 5px;
}

body.dark header h1 {
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #640e86,
  0 0 0.8rem #640e86,
  0 0 2.8rem #640e86,
  inset 0 0 1.3rem #640e86;
}

#container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header h2 {
  color: black;
}

/* .neonText {
  animation: flicker 1.5s infinite alternate;
  color: #000;
} */

/* Flickering animation */
/* @keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
} */

/*Accessibility no flickering for those with preferred reduced motion */
@media screen and (prefers-reduced-motion) { 
  h1 {
    animation: none;
  }
}

/* Support Us */
h2 {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 36px;
  padding: 0px;
}

#support {
  width: 100%;
  border: 1px solid black;
  border-radius: 2rem;
  margin-top: 5px;
  overflow: auto;
}

body.dark #support {
  border: 1px solid rgb(238, 238, 238); 
}

/* Navigation */
a {
  color: brown;
}

a:hover {
  color: blue;
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navigation ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

#navigation li {
  display: inline-block;
  margin: 5px;
}

@media (max-width: 600px) {
  #navigation li {
    display: block;
    text-align: center;;
  }
}

#navigation button {
  padding: 10px 20px;
  font-size: 15px;
}

/* Trade Tables */
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

#trade-table,
#total-table {
    font-size: 14px;
    border-collapse: collapse;
    margin: 5px;
  }

td, 
th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table1,
#trade-table {
  width: 415px;
}

/* Responsive Design */






